@charset "UTF-8";
html {
  font-size: 14px;
}

a {
  color: #222;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

img {
  border: 0;
  vertical-align: middle;
  width: 100%;
}

ul, ol {
  list-style: none;
}

.content-width {
  max-width: 1140px;
  padding: 0 50px;
  margin: 0 auto;
  position: relative;
}

.contents-tidy {
  display: flex;
  justify-content: space-between;
}

.site-header {
  padding: 20px 0;
}

.header-logo-pc {
  width: auto;
  height: 20px;
}
.header-logo-sp {
  display: none;
}

.header-nav-hamburger {
  display: none;
}
.header-nav-list > li + li {
  margin-left: 30px;
}
.header-nav-list > li + li:last-child {
  margin-left: 20px;
}
.header-nav-list.contents-tidy {
  align-items: center;
}
.header-nav-item {
  display: block;
}
.header-nav-item.current {
  color: #f79314;
}
.header-nav-item > span {
  display: block;
  font-weight: bold;
  text-align: center;
}
.header-nav-item > span:first-child {
  font-family: "Lato", sans-serif;
}
.header-nav-item > span:last-child {
  font-size: 10px;
}

.header-button {
  width: 150px;
}

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: none;
}
.link-button.menu {
  height: 40px;
  font-size: 12px;
}

.hover-opacity {
  transition: opacity 0.2s;
}
.hover-opacity:hover {
  opacity: 0.7;
}

.hover-scale {
  transition: transform 0.2s;
}

a:hover .hover-scale {
  transform: scale(1.1);
}

.hover-text-color {
  transition: 0.2s;
}

a:hover .hover-text-color {
  color: #f79314;
}

.site-footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f79314;
}
.site-footer-main .footer-nav {
  order: 2;
}
.site-footer-main .footer-character {
  order: 3;
  align-self: flex-end;
}
.site-footer-main .footer-info {
  order: 1;
}
.site-footer-main + .site-footer-sub {
  margin-top: 60px;
}

.footer-nav > li + li {
  margin-top: 30px;
}
.footer-nav-item {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.footer-nav-item:link, .footer-nav-item:visited {
  color: #fff;
}
.footer-nav-item > span {
  font-weight: normal;
  margin-left: 1em;
}

.footer-character > img {
  width: auto;
  height: 70px;
}

.footer-info {
  display: block;
  color: #fff;
}
.footer-info .footer-logo {
  display: inline-block;
  max-width: 280px;
}
.footer-info .footer-logo > img {
  width: 100%;
  height: auto;
}
.footer-info .footer-logo + .footer-company {
  margin-top: 25px;
}
.footer-info .footer-company {
  font-size: 16px;
  font-weight: bold;
}
.footer-info .footer-company + .footer-address {
  margin-top: 10px;
}
.footer-info .footer-address {
  font-size: 16px;
  font-weight: bold;
}
.footer-info .footer-address + .footer-social {
  margin-top: 35px;
}
.footer-info .footer-social {
  display: flex;
}
.footer-info .footer-social > li + li {
  margin-left: 20px;
}
.footer-info .footer-social-item {
  display: block;
  max-width: 60px;
}
.footer-info .footer-social-item > img {
  width: 100%;
  height: auto;
}

.footer-copyright {
  color: #fff;
  fonttt-size: 12px;
}

.page-top-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -105px;
  right: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 12px 30px -15px;
  transition: 0.2s;
}
.page-top-button.contents-tidy {
  align-items: center;
  justify-content: center;
}

.page-top-arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-left: solid 3px #f79314;
  border-top: solid 3px #f79314;
  transform: rotate(45deg);
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.section-underlayer-hero {
  padding-top: 70px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
  background-color: #f79314;
}
.section-underlayer-hero.course {
  background-image: url(../images/course-hero-pc.png);
}
.section-underlayer-hero-heading {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  padding-left: 110px;
}
.section-underlayer-hero-heading.course {
  padding-left: 145px;
}

.main-section {
  padding-top: 75px;
  padding-bottom: 80px;
}
.main-section.course-detail {
  background-color: #fcfaf5;
}
.main-section .section-header + .section-content {
  margin-top: 60px;
}
.main-section.pick-up-contents {
  padding-top: 40px;
  background-color: #f6f6f6;
  overflow: hidden;
  padding-bottom: 120px;
  position: relative;
}
.main-section.pick-up-contents > * {
  position: relative;
  z-index: 1;
}

.section-header {
  width: 100%;
}
.section-header h2 > span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.section-header.contents-tidy {
  flex-direction: column;
  align-items: center;
}
.section-header.bottom-line::after {
  content: '';
  display: block;
  border-bottom: solid 6px #f79314;
  width: 50px;
  margin-top: 20px;
}

.section-main-heading {
  font-size: 46px;
  font-weight: bold;
}

.detail-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.detail-text-emphasis {
  margin-top: 24px;
  font-size: 20px;
  font-weight: bold;
}

.detail-point {
  margin-top: 100px;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
}
.detail-point .list-no {
  background-color: #fff;
}
.detail-point-title {
  margin-top: -20px;
  font-size: 30px;
  line-height: 30px;
}

.detail-cassette {
  width: 31%;
  margin-top: 40px;
}
.detail-cassette-title {
  padding: 4px;
  border-radius: 15px;
  color: #fff;
  background-color: #222;
}
.detail-cassette-image {
  margin-top: 16px;
}
.detail-cassette-text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}
.detail-cassette-text:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 20px;
  margin-right: 10px;
  background: url(../images/icon-finger.png) no-repeat;
  background-size: 100%;
}

.under-decoration {
  background: linear-gradient(transparent 70%, #fff79d 70%, #fff79d);
  word-wrap: break-word;
}
.under-decoration > br {
  display: none;
}

.list-no {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -90px auto 0 auto;
  background-color: #fcfaf5;
  border-radius: 50%;
  color: #f79314;
  font-weight: bold;
  font-size: 40px;
}
.list-no-image {
  width: 40px;
  margin-top: -8px;
}

.list-content {
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  font-size: 16px;
  line-height: 26px;
}
.list-content:before {
  content: "";
  display: inline-block;
  min-width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f79314;
}

.detail-course-block {
  width: 48.5%;
  border-collapse: separate;
  border: 1px solid #7070701A;
  border-radius: 10px;
  opacity: 1;
}
.detail-course-block:first-child {
  margin-right: 25px;
}
.detail-course-block-box {
  margin-top: 60px;
  padding: 0 40px;
  display: flex;
  text-align: center;
}

.detail-course-head {
  background-color: #f79314;
  font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
  color: white;
  padding: 18px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}
.detail-course-head > span {
  font-size: 14px;
}
.detail-course-head > p {
  font-size: 20px;
  margin-top: 3px;
}

.detail-course-content {
  padding: 18px;
}
.detail-course-content:nth-child(even) {
  background-color: #fffdfa;
}
.detail-course-content:nth-child(odd) {
  background-color: #fff8ea;
}
.detail-course-content span {
  color: #f79314;
  margin-left: 5px;
}
.detail-course-content-price {
  font-size: 28px;
  font-family: Lato-Black;
  font-weight: bold;
  margin: 10px 0 20px;
}
.detail-course-content-price:before {
  content: "￥";
  font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
}
.detail-course-content-price:after {
  content: "税込";
  font-family: NotoSansCJKjp-Bold, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 4px;
}
.detail-course-content-body {
  font-family: Noto Sans CJK JP;
  font-size: 16px;
  color: #22222299;
  line-height: 2em;
  text-align: left;
  margin-bottom: 10px;
}

.detail-course-term {
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}
.detail-course-term:first-letter {
  font-family: Lato-Black;
  font-size: 30px;
}

.detail-course-anchor > a {
  color: #f79314;
  font-weight: bold;
}
.detail-course-anchor > a:before {
  content: "\203A";
  transform: matrix(0, 1, -1, 0, 0, 0);
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.pick-up-contents-list {
  margin: 0 -20px;
}
.pick-up-contents-list.contents-tidy {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.pick-up-contents-list > .pick-up-contents-cassette {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% / 3);
}

.pick-up-contents-media-thumbnail {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 0;
  position: relative;
  padding-top: calc((190 / 320) * 100%);
}
.pick-up-contents-media-thumbnail > img {
  width: 100%;
  height: 145%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}
.pick-up-contents-media-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.8;
}

.plan-box {
  margin-top: 60px;
  padding: 40px;
  border-radius: 20px;
  background-color: #fcfaf5;
}

.plan-head {
  margin: 0 auto;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #f79314;
  background: -webkit-linear-gradient(-40deg, #f79314, #f74e06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plan-head br {
  display: none;
}

.plan-sub-head {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.plan-cassettes {
  margin-top: 40px;
  padding: 16px 20px 20px;
  border-radius: 10px;
  background-color: #fff;
}
.plan-cassettes-head {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}
.plan-cassettes-head:before {
  content: "";
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url(../images/icon-point.png);
  background-size: 100%;
}
.plan-cassettes-tool {
  width: 49%;
  float: left;
}
.plan-cassettes-tool:nth-child(odd) {
  margin-right: 2%;
}
.plan-cassettes-tool-box {
  padding: 13px 8px 18px;
}
.plan-cassettes-tool-label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}
.plan-cassettes-tool-body {
  font-size: 16px;
}
.plan-cassettes-tools {
  /*display: flex;*/
  margin-top: 28px;
  display: flow-root;
}
.plan-cassettes-skipping {
  display: flow-root;
  padding: 20px;
}
.plan-cassettes-skipping-left {
  float: left;
  width: 90px;
  height: 90px;
  text-align: center;
  margin-right: 20px;
}
.plan-cassettes-skipping-right {
  float: left;
  display: contents;
}
.plan-cassettes-skipping-right > h4 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}
.plan-cassettes-skipping-right > h4 > br {
  display: none;
}
.plan-cassettes-skipping-right > p {
  font-size: 16px;
}
.plan-cassettes-skipping-right > p > span {
  color: #f79314;
}

.desc-title {
  align-items: center;
  width: 142px;
  margin-top: 20px;
  padding: 4px 26px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  color: #f79314;
  background-color: #fcfaf5;
}
.desc-title:before {
  content: "";
  display: inline-block;
  margin-top: 2px;
  margin-right: 6px;
  background-size: 100%;
}
.desc-title.detail:before {
  width: 17px;
  height: 17px;
  background-image: url(../images/icon-pencil.png);
}
.desc-title.term:before {
  width: 16px;
  height: 18px;
  margin-left: 2px;
  background-image: url(../images/icon-calender.png);
}
.desc-title.condition:before {
  width: 17px;
  height: 14px;
  margin-left: 2px;
  background-image: url(../images/icon-condition.png);
}
.desc-title.fee:before {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-coin.png);
}

.desc-text {
  margin-top: 20px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
}
.desc-text + desc-title {
  margin-top: 30px;
}

.pc-br {
  display: block;
}

.sp-br {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
